include ../config/config
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel='shortcut icon' href='./assets/img/favicon-16x16.png' type='image/x-icon')
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        title Gallery

    body 
        header#header.header
            a(href="/").logo
                img(src="./assets/img/logoGallery.png", alt="swws") 
            #topbar.topbar
                .topbar__icon(data-type="login")   
                    i.fa.fa-user
                    span login
                .topbar__icon(data-type="register")   
                    i.fa.fa-user-plus
                    span register
                .toggle-menu
                    #toggle-menu.toggle-menu_icon
                        .first-bar
                        .second-bar
                        .third-bar
        aside#sidebar.aside 
            block menu 
        main.main 
            block title 
            block main
        include ../includes/login-modal
        include ../includes/register-modal

            //- div.contenido 
            //-     .items 

        //- block scripts
        script(src="js/scripts-min.js")
