.header {
    padding: 1em 0;
    height: 50px;

    @include laptop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 1/-1;
        grid-row: 1/2;
        width: 100vw;
    }
}
