extends ../templates/template
block menu 
   -pageActive='about'
    include ../includes/main-menu
block title 
    h1.title About
    .about  
        .about__img.show
            img(src="./assets/img/img14.jpg", alt="img221")
        .about__text.show
            h2 Imagen 1
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi aliquam quia repudiandae aspernatur tempore nisi eaque ducimus fuga dignissimos ipsum incidunt mollitia.
        .about__img 
            img(src="assets/img/img4.jpg", alt="about2")
        .about__text
            h2 Imagen 2
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi.
        .about__img 
            img(src="assets/img/img10.jpg", alt="about2")
        .about__text
            h2 Imagen 3
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi.Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        .about__img 
            img(src="assets/img/img11.jpg", alt="about2")
        .about__text
            h2 Imagen 4
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi.
        .about__img 
            img(src="assets/img/img9.jpg", alt="about2")
        .about__text
            h2 Imagen 5
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, aut consequatur magnam consequuntur, voluptatibus natus, doloremque modi.
   
    .controls
        i.fas.fa-chevron-circle-left#prev
        i.fas.fa-chevron-circle-right#next