extends ../templates/template
block menu 
    -pageActive='home'
    include ../includes/main-menu
block title 
    h1.title Home
block main
    #galery.galery
        .galery__item
            img(src='assets/img/img9.jpg' alt='imagen9')
        .galery__item
            img(src='assets/img/img3.jpg' alt='imagen3')
        .galery__item.wide
            img(src='assets/img/img12.jpg' alt='imagen12')
        .galery__item
            img(src='assets/img/img2.jpg' alt='imagen2')
        .galery__item.wide
            img(src='assets/img/img4.jpg' alt='imagen4')
        .galery__item
            img(src='assets/img/img5.jpg' alt='imagen5')
        .galery__item
            img(src='assets/img/img10.jpg' alt='imagen10')
        .galery__item.wide
            img(src='assets/img/img14.jpg' alt='imagen11')
        .galery__item
            img(src='assets/img/img6.jpg' alt='imagen6')
        .galery__item
            img(src='assets/img/img13.png' alt='imagen7')
        .galery__item
            img(src='assets/img/img8.jpg' alt='imagen8')
        .galery__item.wide
            img(src='assets/img/img15.jpg' alt='imagen15')
   
   
    //- block scripts
    //-     script(type="module" src="/js/macy.js")

        