extends ../templates/template
block menu 
    -pageActive='home'
    include ../includes/main-menu
block title 
    h1.title Home
block main
    #galery.galery
        .galery__item    
            img(src="assets/img/panda.jpg", alt="imagen1")
        .galery__item    
            img(src="assets/img/logo.png", alt="imagen2")
        .galery__item    
            img(src="assets/img/reino-animal-.jpg", alt="imagen3")
        .galery__item    
            img(src="assets/img/logo.png", alt="imagen4")
        .galery__item    
            img(src="assets/img/panda.jpg", alt="imagen5")
        .galery__item    
            img(src="assets/img/logo.png", alt="imagen2")
        .galery__item    
            img(src="assets/img/reino-animal-.jpg", alt="imagen3")
        .galery__item    
            img(src="assets/img/logo.png", alt="imagen4")
        .galery__item    
            img(src="assets/img/panda.jpg", alt="imagen5")
   
   
   
    //- block scripts
    //-     script(type="module" src="/js/macy.js")

        